<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>

</head>
<body>
    

    <div id="app">

       <div>
            아이디 : <input type="text" placeholder="ID" v-model="info.userId">
       </div>
       <div>
            패스워드 : <input type="password" @keyup.enter="fnLogin"  placeholder="PW" v-model="info.pwd">
       </div>


       <button @click="fnLogin">로그인</button>
       <button  @click="fnJoin" >회원가입</button>

    </div>


</body>
</html>


<script>
    
    const app = Vue.createApp({
                data() {
                    return {
                        productId : "",
                        info : {
                            userId : "",
                            pwd : ""
                        }
                    };
                },
                computed: {

                },
                methods: {
                    fnLogin () {
                        fetch('http://localhost:3000/login', {
                            method : "POST",
                            headers : {
                                "Content-type" : "application/json",
                            },
                            credentials : "include",
                            body : JSON.stringify(this.info),
                        })
                            .then((res)=> res.json())
                            .then((data) => {
                                console.log(data);
                                if (data.message == 'success' ) {
                                    alert(data.result+'님 환영합니다.');
                                    location.href = "../day3/product-list.html";
                                } else {
                                    alert('아이디 또는 패스워드를 확인하세요.');
                                }
                            })
                            .catch( err => {
                                alert('아이디 또는 패스워드를 확인하세요.');
                            });
                    },
                    fnJoin () {
                        location.href = 'join.html';
                    }
                },
                mounted() {
                    
                }
            });

            app.mount("#app");



</script>