<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>

</head>
<body>
    

    <div id="app">

        <div class="col-auto">
            <select v-model="pageSize" class="form-select board-select" @change="fnList">
                <option value="5">5개씩</option>
                <option value="10">10개씩</option>
                <option value="15">15개씩</option>
                <option value="20">20개씩</option>
            </select>
        </div>

        <!-- 검색 옵션 -->
        <div class="col-auto">
            <select v-model="searchOption" class="form-select">
                <option value="all">전체</option>
                <option value="productName">상품명</option>
                <option value="category">카테고리</option>
            </select>
        </div>
    
        <!-- 검색어 입력 -->
        <div class="col">
            <input v-model="keyword" @keyup.enter="fnBoardSearch" class="form-control board-search" placeholder=" 🔍검색어 입력" />
        </div>
    
        <!-- 검색 버튼 -->
        <div class="col-auto">
            <button class="btn btn-primary board-search-btn" @click="fnBoardSearch">검색</button>
        </div>

        <table >
            <tr>
                <th>선택</th>
                <th>번호</th>
                <th>상품명</th>
                <th>금액</th>
                <th>카테고리</th>
            </tr>
            
            <template v-for="item in list">
                <tr >
                    <td><input type="radio" name="productId" v-model="deleteNo" :value="item.productId"></td>
                    <td>{{item.productId}}</td>
                    <td><a href="javascript:;" @click="fnView(item.productId)">{{item.productName}}</a></td>
                    <td>{{item.price}}</td>
                    <td>{{item.category}}</td>
                </tr>   
            </template>

        </table>

        <!-- 페이지네이션 버튼 -->
        <div>
            <!-- 이전 페이지 버튼 -->
            <a class="btn btn-outline-secondary board-page-btn prev-next-btn" href="javascript:;" @click="fnPageMove('prev')" v-if="page != 1">
                <i class="bi bi-chevron-left"><</i>
            </a>
    
            <!-- 페이지 번호 -->
            <template v-for="num in index">
                <!-- 첫 번째 페이지로 이동하는 "..." -->
                    <a v-if="num === 1 && page > 3" 
                        href="javascript:;"  
                        @click="fnPage(1)" 
                        class="btn btn-outline-secondary board-page-btn">
                        ...
                    </a>
                
                    <!-- 현재 페이지 기준 좌우 2개씩 표시 -->
                    <a v-if="num >= page - 2 && num <= page + 2" 
                        href="javascript:;"  
                        @click="fnPage(num)" 
                        class="btn btn-outline-secondary board-page-btn" 
                        :class="{ 'active': page === num }">
                        {{ num }}
                    </a>
                
                    <a v-if="num === index && page < index - 2" 
                        href="javascript:;"  
                        @click="fnPage(index)" 
                        class="btn btn-outline-secondary board-page-btn">
                        ...
                    </a>
            </template>
    
            <!-- 다음 페이지 버튼 -->
            <a class="btn btn-outline-secondary board-page-btn prev-next-btn" href="javascript:;" @click="fnPageMove('next')" v-if="index > 0 && page != index">
                <i class="bi bi-chevron-right">></i>
            </a>
        </div>

        <button @click="fnAdd">생성</button>
        <button v-if="userStatus=='A'" @click="fnDelete">삭제</button>


        <button @click="fnLogout">로그아웃</button>

    </div>


</body>
</html>


<script>
    
    const app = Vue.createApp({
                data() {
                    return {
                        list : [],
                        view : [],
                        selectNO : -1,
                        deleteNo : "",
                        index : 0 ,
                        page: 1,
	                    pageSize: 5,
                        searchOption : 'all',
                        keyword : '',
                        userStatus : '',
                    };
                },
                computed: {

                },
                methods: {
                    fnView (productId) {
                        location.href = 'product-view.html?productId='+ productId;
                        
                    }, 
                    fnList () {
                        offset = (this.page -1) * this.pageSize; 
                        
                        fetch('http://localhost:3000/product?offset='+offset+'&limit='+ this.pageSize + '&keyword=' + this.keyword)
                            .then((res)=> res.json())
                            .then((data) => {
                                console.log(data);
                                this.index = Math.ceil(data.cnt / this.pageSize);
                                this.list = data.list;  
                            });
                    },
                    fnDelete() {

                        if(!confirm('정말 삭제할거?')){
                            return;
                        } 

                        fetch('http://localhost:3000/product', {
                            method : "DELETE",
                            headers : {
                                "Content-type" : "application/json",
                            },
                            body : JSON.stringify({ productId : this.deleteNo}),
                        })
                            .then((res)=> res.json())
                            .then((data) => {
                                console.log(data);
                                this.fnList();
                            })
                            .catch( err => {
                                console.log("서버 에러");
                            });

                        
                    },
                    fnAdd () {
                        location.href = 'product-add.html';
                    },
                    fnPage(num) {
                        this.page = num;
                        this.fnList();
                    },
                    fnPageMove(direction) {
                        if (direction === "next") this.page++;
                        else this.page--;
                        this.fnList();
                    },
                    fnBoardSearch : function(){
                        let self = this;
                        self.page = 1;
                        self.fnList();
                    },
                    fnUser (){
                        
                        let self = this;

                        fetch('http://localhost:3000/login/info',{
                            method : "GET",
                            credentials : "include",
                            headers: {
                                "Content-Type": "application/json"
                                // Authorization 헤더는 필요 없음! (로컬스토리지 안 쓰고 있으니까)
                            }
                        })
                            .then((res)=> res.json())
                            .then((data) => {
                                console.log(data);
                                if(!data.isLogin) {
                                    alert('로그인 후 이용해 주세요.');
                                    //location.href = '/day4/login.html';
                                } else {
                                    this.fnList();
                                    this.userStatus = data.user.sessionStatus;
                                }
                                
                            });

                    },
                    fnLogout (){
                        let self = this;
                        fetch('http://localhost:3000/user/logout',{
                            method : "GET",
                            credentials : "include"
                        })
                            .then((res)=> res.json())
                            .then((data) => {
                                console.log(data);    
                                alert('로그아웃 되었습니다.');
                                location.href = '/day4/login.html';
          
                            });

                    }
                },
                mounted() {
                	this.fnUser();
                }
            });

            app.mount("#app");



</script>