<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>

</head>
<body>
    

    <div id="app">

        <table >
            <tr>
                <th>선택</th>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
            
            <template v-for="item in list">
                <tr >
                    <td><input type="radio" name="BoardNo" v-model="deleteNo" :value="item.BOARDNO"></td>
                    <td>{{item.BOARDNO}}</td>
                    <td><a href="javascript:;" @click="fnView(item.BOARDNO)">{{item.TITLE}}</a></td>
                    <td>{{item.USERID}}</td>
                </tr>   

                <tr v-if="selectNO == item.BOARDNO">
                    <td colspan="3">{{view.CONTENTS}}</td>
                </tr>
            </template>

        </table>
        <button @click="fnDelete">삭제</button>


    </div>


</body>
</html>


<script>
    
    const app = Vue.createApp({
                data() {
                    return {
                        list : [],
                        view : [],
                        selectNO : -1,
                        deleteNo : "",
                    };
                },
                computed: {

                },
                methods: {
                    fnView (boardno) {
                        this.selectNO = boardno;
                        fetch('http://localhost:3000/board/view?boardno='+boardno)
                            .then((res)=> res.json())
                            .then((data) => {
                                //console.log(data.list);
                                this.view = data.list;  
                            });
                        
                    }, 
                    fnList () {
                        fetch('http://localhost:3000/board/list/')
                            .then((res)=> res.json())
                            .then((data) => {
                                console.log(data.list);
                                this.list = data.list;  
                            });
                    },
                    fnDelete() {

                        if(!confirm('정말 삭제할거?')){
                            return;
                        } 

                        fetch('http://localhost:3000/board/delete?boardno='+this.deleteNo)
                            .then((res)=> res.json())
                            .then((data) => {
                                //console.log(data.list);
                                alert(data.message );
                                this.fnList();
                            });

                        
                    }
                },
                mounted() {
                    this.fnList();
                	
                }
            });

            app.mount("#app");



</script>